/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
	 Css-reset
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Importerar typsnittet*/
@font-face {
	font-family: 'Karla';
	src: url('./fonts/Karla/static/Karla-VariableFont_wght.ttf');
	font-weight: 100;
}
/* Generell design av hela hemsidan */
body{
	line-height: 1;
  background-color: white;
	margin: 0;
	font-family: 'Karla', sans-serif, Arial, Verdana;
	font-weight: 100;
	display: inline-block;
	width: 100%;
}

/* Design av navigationen */
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #65909A;
	opacity: 0.8;

}

li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
	padding-left: 10px;
  text-decoration: none;
  font-size: 16px;
	font-weight: 100;
}
#Djupvik{
	float: left;
}

li a:hover {
  background-color: #C1CDCD;
}
/* Design av header */
header{
  margin-top: 5%;
  text-align: center;
}
h1{
  font-size: 48px;
  font-weight: 100;
	text-align: center;
}
/* Design av horisontell och vertikal linje */
hr{
  color: black;
	width: 100%;
}
.vr{
  border-right: 1px solid lightgray;
  height: 1600px;
  position: absolute;
  right: 32.3%;
  margin-top: -9.5px;
}
/* Design av main (h2, h3, info och img) */
article h2{
  line-height: 2;
  font-size: 28px;
  margin-left: 10%;
	font-weight: 100;
	margin-top: -40%;

}
article h3{
  line-height: 1.5;
  font-size: 20px;
  margin-left: 10%;
	font-weight: 100;
	margin-top: 2%;
}
article p{
    width: 25%;
    margin-left: 10%;
    line-height: 1.25;
		display: block;
		padding-right: 20px;
		margin-top: 1%;
}
img{
  float: right;
  margin-right: 35%;
}
figcaption{
  font-style: italic;
  margin-right: 36.05%;
  float: right;
  margin-top: 1%;
}

table{
  text-align: center;
  margin-left: 30%;
	width: 35%;
	margin-top: -17.5%;
}
td{
  padding: 15px 15px 0px 15px;
  font-size: 16px;
	background-color: #E0EEEE;
	font-weight: 100;
	padding-bottom: 15px;
}
th{
  padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 15px;
  font-size: 24px;
	background-color: #C1CDCD;
	font-weight: 100;
	color: black;
}
/* CSS för kontaktformuläret och alla dess delar.m */
form{
	width: 25%;
	margin-left: 71.5%;
	position: static;
	border-radius: 2px;
	margin-top: 2%;
}
input, label, select{
	display: block;
}
label{
	font-size: 14px;
	margin-left: 10%;
}

input[type=text], input[type=textarea], #arende {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	margin-left: 10%;
}

input[type=submit] {
  width: 80%;
  background-color: #65909A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	font-weight: 100;
		margin-left: 10%;
		margin-top: 3%;
}
input[type=submit]:hover {
  background-color: #C1CDCD;
}
legend{
  font-size: 18px;
	box-sizing: border-box;
	text-align: center;
}
fieldset{
	padding-top: 15px;
	border: 1px solid #ccc;
	background-color: #F5F5F5;
	border-radius: 10px;
}
::-webkit-input-placeholder{
	font-style: italic;
/* CSS för väderleksraporten */
}
.dailyWeather{
	font-size: 28px;
	margin-left: 74%;
	position: static;
	margin-top: 2%;
}
.forecast{
		margin-left: 68%;
		text-align: center;
		font-size: 18px;
		font-style: italic;
		font-weight: 100;
		margin-top: 1%;
}

/* Design av footer*/
footer{
  line-height: 1.2;
  font-size: 12px;
	margin-top: 85%;
}
.footer{
	  position: fixed;
	  width: 100%;
	  bottom: -8px;
}
#footer{
	height:30px;
	width: 100%;
	margin-left: -1px;
	background-color: #F5F5F5;

}
.footertext{
	float: left;
	display: block;
	padding-top: 5px;
	font-size: 12px;
	margin-left: 25%;

}
/*justering för engelska sidan */
.english{
	margin-top: -40%;
}

/* Hemsidan är designad på en 1440px laptop. Nedan följer justering för 1024px */
@media screen and (max-width: 1024px) {
 	header h1{
    margin-top: 7%;
  }
}
@media screen and (max-width: 1024px) {
  article h2{
		margin-top: -52%;
  }
}
@media screen and (max-width: 1024px) {
  .dailyWeather{
		font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  li a{
		padding-left: 2px;
  }
}
@media screen and (max-width: 1024px) {
  table{
		margin-left: 10%;
		margin-top: 5%;
  }
}
@media screen and (max-width: 1024px) {
  #kontakt p, #kontakt h2{
		margin-left: 25%;
  }
}

/*
@media screen and (max-width: 640px) {
 	#info{
    display: block;
		margin-left: 5%;
  }
}
@media screen and (max-width: 640px) {
 	.vr{
    visibility: hidden;
  }
}
@media screen and (max-width: 640px) {
 	hr{
    width: 140%;
  }
}
/* Navigationen anpassas uteftert skärmstorlek med följande kod */
/*
@media screen and (max-width: 640px) {
   nav {
    float: left;
    width: 100%;
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
   li a {
    float: right;
    width: 70%;
    font-size: 9.5px;
  }
}
@media screen and (max-width: 640px) {
    .forecast{
		margin-left: 10%;
    width: 100%;
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
    .dailyWeather{
    float: none;
    width: 100%;
    font-size: 16px;
		margin-left: 37.5%;
  }
}
@media screen and (max-width: 640px) {
    form{
    width: 100%;
    font-size: 16px;
		margin-left: 10%;

  }
}
@media screen and (max-width: 640px) {
    input[type=text], input[type=textarea]{
    width: 100%;
    font-size: 16px;
		float: left;
  }
}
@media screen and (max-width: 640px) {
    input[type=submit]{
    width: 100%;
    font-size: 16px;
		text-align: center;
  }
}
@media screen and (max-width: 640px) {
    select{
    font-size: 16px;
		margin-left: 0%;
		text-align: center;
  }
}
/* Justering för body */
/*
@media screen and (max-width: 640px) {
  article p, article h3{
		text-align: center;
    line-height: 1.5;
		width: 90%;
		padding-bottom: 15px;

  }
}
@media screen and (max-width: 640px) {
  article h2{
		text-align: center;
    line-height: 1.5;
		padding-bottom: 15px;
		margin-top: 20%;

  }
}
/* Justering för body */
/*
@media screen and (max-width: 640px) {
  img{
    line-height: 1.5;
		width: 100%;
		margin-left: 7%;
		float: none;
  }
}
/*
@media screen and (max-width: 640px) {
  figcaption{
    line-height: 1.5;
		width: 100%;
		text-align: center;
		float: none;
  }
}
/* Justering för h1 så att denna syns efter navigationen */
/*
@media screen and (max-width: 640px) {
  header h1{
    margin-top: 20%;
    line-height: 1.5;
		font-size: 22px;

  }
}

@media screen and (max-width: 640px) {
	  h2+h3{
		margin-top: 3%;
	}
}
/* Omplacering av our story och dess bild */
/*
@media screen and (max-width: 640px) {
  #story {
    float: none;
    width: 70%;
		margin-top: 10%;
  }
}

/* Omplacering av klass-listan */
/*
@media screen and (max-width: 640px) {
  #classes {
    float:none;
    width: 70%;
  }
}
/* Omplacering av footer i förhållande till skärmstorlek */
/*
@media screen and (max-width: 640px) {
  #footertext{
    float: none;
    margin-top: 50%;
		padding: none;
		display: inline;
		margin-left: none;
  }
}
/* Omplacering av footer i förhållande till skärmstorlek */
/*
@media screen and (max-width: 640px) {
  #footer{
		position:relative;
    margin-top: 50%;
		width:70%;


  }
}
*/
